extends ../layout

block content
  a(href='/bicis') Volver
  
  br
  br
  br
  
  h1 Actualizar Bicicletas
  
  br
  br
  
  form(action='/bicis/${bici.id}/update' method='post')
    label(for='id') Id :
    input#id(type='text' name='id' value=bici.id)
    br
    label(for='color') Color :
    input#color(type='text' name='color' value=bici.color)
    br
    label(for='modelo') Modelo :
    input#modelo(type='text' name='modelo' value=bici.modelo)
    br
    label(for='lat') Latitud :
    input#lat(type='text' name='lat' value=bici.ubicacion[0])
    br
    label(for='lng') Longitud :
    input#lng(type='text' name='lng' value=bici.ubicacion[1])
    br
    br
    input.btn(type='submit' value='Ok')
